{% extends 'base/base.html' %}

{% block content %}
<form action="/flashcardslist/add" method="POST">
    <div>
        <p>
            {{ form.question.label( class="form-label") }} <br>
            {{ form.question(class="form-control") }}
        </p>
        
      {{ form.hidden_tag() }}
      <p>
        {{ form.answer.label( class="form-label") }} <br>
        {{ form.answer(cols="100", rows="20", class="form-control") }}
      </p>
        <button type="submit" class="btn btn-secondary"><a href="/flashcardslist/add"></a>Add</button>
    </div>
  </form>
 
{% endblock %}