{% extends "base/base.html" %} {% block content %}
<body>
  <input id="userInput" type="number" value = "0"/> 
  <p id="timerr"> 00 </p>
  <button onclick="startTime()">Start</button>
  <button onclick="stop()">Stop</button>

  <script> 
    var time;
    var timer = document.getElementById("userInput");
    var countDownSeconds;
    function startTime(){ 
      time = setInterval(start, 1000);
      document.getElementById("timerr").innerHTML = timer.value;
      countDownSeconds = timer.value;
    } 

    function start(){
      countDownSeconds--;
      document.getElementById("timerr").innerHTML = countDownSeconds;
      if (countDownSeconds == -1){
        stop();
        document.getElementById("timerr").innerHTML = "0";  
      }
    }

    function stop(){
      clearInterval(time);
    }
  </script>
</body>

  {% endblock %}
</body>