{% extends "base/base.html" %}

{% block content %}
<h1> Welcome to To Do List </h1>

<form action="/todolist/add" method="post">
  <div>
    <label for="title">ToDo</label>
    <input type = "text" name = "title" placeholder = "Enter Todo...">
    <input type = "text" name = "rank" placeholder = "Enter Priority Rank...">
    <button type="submit">Add</button>
  </div>
</form>

{% for todos in todolist %}
  <p> <b>{{todos.rank}}) </b>| {{todos.title}}</p>
  {% if todos.complete == False %}
    <span>Not Completed</span>
    {% else %}
    <span>Completed</span>
  {% endif %}

  <a href="/todolist/change/{{todos.id}}">Change</a>
  <a href="/todolist/delete/{{todos.id}}">Delete</a>

  {% endfor %}

  
{% endblock %}