{% extends 'base.html' %}

{% block content %}
<form action='/noteslist/update/{{note_to_update.id}}' method="POST">
    {{ form.hidden_tag() }}
    <div>
        <p>
            {{ form.title.label( class="form-label") }} <br>
            {{ form.title(class="form-control") }}
        </p>
        
      <p>
        {{ form.note.label( class="form-label") }} <br>
        {{ form.note(cols="100", rows="20", class="form-control") }}
      </p>
        <button type="submit"><a href="/noteslist/update/{{note_to_update.id}}"></a>Edit</button>
    </div>
  </form>
 
{% endblock %}