{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to FlaskNotes {% endblock %}</h1>
  
    <form action="/noteslist/add" method="POST">
        <div>
            <p>
                {{ form.title.label }} <br>
                {{ form.title }}
            </p>
            
          {{ form.hidden_tag() }}
          <p>
            {{ form.note.label }} <br>
            {{ form.note }}
        </p>

          <button type="submit">Add</button>
        </div>
      </form>

    <form action="" method="GET" novalidate>
        <ul class="list-group list-group-flush" id="notes">
        </p>
        {% for notes in noteslist %}
            <li class="list-group-item">
                <p> <b>{{notes.id}} </b>| {{notes.title}}</p>
              <button type="button">
                <a href='/noteslist/delete/{{ notes.id }}'>Delete Note</a>
              </button>
              <button type="button">
                <a href='/noteslist/preview/{{ notes.id }}'>Preview</a>
              </button>
            </li>
            {% endfor %}
          </ul>
    </form>
{% endblock %}