{% extends 'base/base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to FlaskNotes {% endblock %}</h1>

        <button type="button">
            <a href='/noteslist/add'>Add Note</a>
          </button>
        </div>
      

    <form action="" method="GET" novalidate>
        <ul class="list-group list-group-flush" id="notes">
        </p>
        {% for notes in noteslist %}
            <li class="list-group-item">
                <p> <b>{{notes.id}} </b>| {{notes.title}}</p>
              <button type="button">
                <a href='/noteslist/delete/{{ notes.id }}'>Delete Note</a>
              </button>
              <button type="button">
                <a href='/noteslist/preview/{{ notes.id }}'>Preview</a>
              </button>
              <form action="/noteslist/update/{{ notes.id }}" method="GET" novalidate>
              <button type="button">
                <a href='/noteslist/update/{{ notes.id }}'>Edit Note</a>
              </button>
              <button type="button">
                <a href='/noteslist/share/{{ notes.id }}'>Share Note</a>
              </button>
          
              
              {% if notes.shared %}
              {% if notes.owner == user.username %}
              <button type="button">
                <a href='/noteslist/unshare/{{ notes.id }}'>Unshare Note</a>
              </button>
              {% endif %}
              <p> <b>Shared: </b>| {{ notes.shared }}</p>
              <p> <b>Shared with: </b>| {{ notes.users }}</p>
              {% endif %}
              <p> <b>Owner: </b>| {{ notes.owner }}</p>
            </form>
            </li>
            {% endfor %}
          </ul>
    </form>
{% endblock %}